.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.imports{
    stroke: red;
}
.exports{
    stroke: green;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.point {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
  fill: none;
  stroke: steelblue;
}
