
/* styling for the visualization */

.line {
    fill: none;
    stroke-width: 1.5;
}

.annotations .line{
  stroke-dasharray: 10;
  stroke-width: 1.5;
  stroke: green;
}

.area{
  stroke-width: 0;
}


.x-axis.bar{
  font-size: small;
}

.y-axis {
  stroke-width: 0;
}
.y-axis .tick{
  stroke-opacity: 0.3;
  stroke-width: 1;
  stroke: slategray;

}

.line.neutral{
  stroke-opacity: 0.2;
}



.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.point {
    fill: #ffab00;
    stroke: #fff;
}

.datapoint:hover{
    fill: yellow;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
