#header {
    background-image:linear-gradient(rgb(173, 230, 187),white);
    text-align: center;
    height: 120px;
    width: auto;
}

.container{
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.container.inactive{
    display:none
}

.container .card{
    grid-column: 1;
    margin-bottom: 100px;
    top: 0px;
    z-index: 90;

}

.visual{
    grid-column: 2/-1;
    position: relative;
}

/*
    Styling for the side infor
/**/
#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
}


.title {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.2em;
  }
  
.title2{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #262626;
    width: 1000;
    text-align: center;
}

.slide-info{
    background-color: rgb(187, 223, 238);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 100px;
}


.slidebar{
    position: fixed;
    right:0;
    top: 50%;
    width: 10px;
    background: grey;
    z-index: 10;
}



/*
    Styling for inside the visual
/**/
.tooltip {
    position: absolute;
    text-align: justify;
    text-justify: auto;
    width: 100px;
    background: rgb(212, 223, 235);
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}  


.annotations.card{
    border-radius: 10px;
    padding: 5px;
    font-family: Arial;
}

.annotation rect{
    opacity: 0.2;
    fill: orange;
    z-index: -2;
}

.annotation text{
    z-index: -1;
    font-family: Arial;
    overflow-wrap: break-word
}