#header {
    background-image:linear-gradient(rgb(173, 230, 187),white);
    text-align: center;
    height: 120px;
    width: auto;
}

.container{
    display: grid;
}

.x-axis{
    stroke-opacity: 1;
}

.line.neutral{
    stroke-opacity: 0.2;
}

.grid{
    stroke-opacity: 0.2;
    color: slategray;
}

.slide{
    display: grid
}

.slide.notes{
    
}

.tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 60px; height: 40px;
    background: white;
    border: 0px;
    z-index: 1;
}

.imports .line{
    stroke: rgb(223, 63, 63)
}

.imports.bar{
    stroke: black;
    fill: rgb(223, 63, 63)
}

.balance .line{
    stroke: blueviolet
}

.exports .line{
    stroke: green
}
