#header {
    background-image:linear-gradient(rgb(173, 230, 187),white);
    text-align: center;
    height: 120px;
    width: auto;
}

.container svg{
    position: fixed;
    z-index: -1;
}

.tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 60px; height: 40px;
    background: white;
    border: 0px;
}
